# ------------------------
# Streamlit & UI
# ------------------------
streamlit
rich
markdown-it-py
mdurl
streamlit-aggrid

# ------------------------
# Data processing
# ------------------------
numpy
pandas
python-dotenv

# ------------------------
# File handling
# ------------------------
python-docx
pdfplumber
pillow
pytesseract

# ------------------------
# NLP
# ------------------------
sentence-transformers
nltk
spacy

# ------------------------
# Vietnamese NLP
# ------------------------
pyvi

# ------------------------
# Machine Learning / PyTorch
# ------------------------
torch
torchvision
torchaudio
