# Streamlit & UI
streamlit==1.29.0
rich
markdown-it-py
mdurl
st-aggrid

# Data processing
numpy
pandas
python-dotenv

# File handling
python-docx
pdfplumber
pillow
pytesseract

# NLP
sentence-transformers
nltk
spacy

# Vietnamese NLP
# Tạm thời dùng pyvi trên PyPI thay vì GitHub để tránh lỗi build
pyvi

# Machine Learning / PyTorch
torch
torchvision
torchaudio
